.row {
  height: 100vh;
}

p {
  font-size: 0.7em;
}
.gestionList {
  background-color: rgb(255, 255, 255);
}
label {
  font-size: 0.7em;
  border: solid 0.5mm rgba(169, 169, 169, 0.488);
  color: rgb(0, 0, 0);
  padding: 4px;
  margin: 2px 2px;
  border-radius: 5px;
  font-weight: bold;
}
input {
  height: 40px;
}
img {
  height: 100px;
}
.red {
  color: rgb(215, 34, 34);
}
.green {
  color: rgb(19, 167, 19);
}
span {
  background-color: rgba(0, 0, 0, 0.698);
  padding: 3px;
  border-radius: 5px;
}
.card {
  background-color: rgba(137, 43, 226, 0.66);
}
